# macOS
.DS_Store
**/.DS_Store

# Environnement virtuel
.venv/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.blg
*.bbl

# IDE
.idea/
.vscode/
*.iml

# Archives
*.zip
